**/*.class

**/hmc/bin

**/beans.xsd

**/items.xsd

**/extensioninfo.xsd

**/hmc.xsd

**/gensrc

**/classes

**/.checkstyle

**/.ruleset

**/build.xml

**/platformhome.properties

**/web/testclasses

**/eclipsebin

**/.metadata

hybris/*

.idea/*

**/*testclasses.xml

**/addonsrc

**/web/commonwebsrc

**/_ui/addons

**/messages/addons

**/tags/addons

**/tld/addons

**/views/addons

# DON'T TOUCH

extensions/nemo/europe1novarto/lib/*



velocity.log

*.iws

*.eml

*.swp

solr/*

source/*

hybrisTools/target/*

idea/hybristool.log*



**/*.iml



*.bak

.DS_Store

.classpath
.pmd
.project
.settings/
.springBeans
